<h2> Infomation City </h2>
<br>
<h5><b>City:</b> <i><%= @city.name%></i></h5>
<h5><b>city list:</b> <i><%= @city.city_list%></i></h5>
<h5><b>Created at:</b> <i><%= @city.created_at.to_date%></i></h5>
<h5><b>Update at:</b> <i><%= @city.updated_at.to_date%></i></h5>