
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>Hi <%= @user.email%>,</h5>
    <p>apply success <%= @job.name%></p>
    <p>Thanks you!</p>
  </body>
</html>