<div class= "container-fluid">
	<div class="home-page">
		<div class="col-12">
			<div class="row ">
				<div class="col-lg-4 col-md-6 col-12 item-jobs">
					<div class="info-item-jobs">
						<img src="https://gofix.s3.amazonaws.com/development/tiles/images/2_%20partition/original/carpenter-carpentry-close-up-1094770.jpg?1534414499" alt="" class="image-photo-jobs">
					  <div class="overlay">
					    <div class="text">Title:new jobs</div>
					    <div class="text">Salary:1000-2000$</div>
					    <div class="text">Description: nothing </div>
						   <div class="btn-group">
						    <button class="btn btn-apply-item"> Apply </button><button class="btn btn-show-item"> Show </button>
						  </div>
					  </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 item-jobs">
					<div class="info-item-jobs">
						<img src="https://gofix.s3.amazonaws.com/development/tiles/images/2_%20partition/original/carpenter-carpentry-close-up-1094770.jpg?1534414499" alt="" class="image-photo-jobs">
					  <div class="overlay">
					    <div class="text">Title:new jobs</div>
					    <div class="text">Salary:1000-2000$</div>
					    <div class="text">Description: nothing </div>
						   <div class="btn-group">
						    <button class="btn btn-apply-item"> Apply </button><button class="btn btn-show-item"> Show </button>
						  </div>
					  </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 item-jobs">
					<div class="info-item-jobs">
						<img src="https://gofix.s3.amazonaws.com/development/tiles/images/2_%20partition/original/carpenter-carpentry-close-up-1094770.jpg?1534414499" alt="" class="image-photo-jobs">
					  <div class="overlay">
					    <div class="text">Title:new jobs</div>
					    <div class="text">Salary:1000-2000$</div>
					    <div class="text">Description: nothing </div>
						   <div class="btn-group">
						    <button class="btn btn-apply-item"> Apply </button><button class="btn btn-show-item"> Show </button>
						  </div>
					  </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 item-jobs">
					<div class="info-item-jobs">
						<img src="https://gofix.s3.amazonaws.com/development/tiles/images/2_%20partition/original/carpenter-carpentry-close-up-1094770.jpg?1534414499" alt="" class="image-photo-jobs">
					  <div class="overlay">
					    <div class="text">Title:new jobs</div>
					    <div class="text">Salary:1000-2000$</div>
					    <div class="text">Description: nothing </div>
						   <div class="btn-group">
						    <button class="btn btn-apply-item"> Apply </button><button class="btn btn-show-item"> Show </button>
						  </div>
					  </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 item-jobs">
					<div class="info-item-jobs">
						<img src="https://gofix.s3.amazonaws.com/development/tiles/images/2_%20partition/original/carpenter-carpentry-close-up-1094770.jpg?1534414499" alt="" class="image-photo-jobs">
					  <div class="overlay">
					    <div class="text">Title:new jobs</div>
					    <div class="text">Salary:1000-2000$</div>
					    <div class="text">Description: nothing </div>
						   <div class="btn-group">
						    <button class="btn btn-apply-item"> Apply </button><button class="btn btn-show-item"> Show </button>
						  </div>
					  </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 item-jobs">
					<div class="info-item-jobs">
						<img src="https://gofix.s3.amazonaws.com/development/tiles/images/2_%20partition/original/carpenter-carpentry-close-up-1094770.jpg?1534414499" alt="" class="image-photo-jobs">
					  <div class="overlay">
					    <div class="text">Title:new jobs</div>
					    <div class="text">Salary:1000-2000$</div>
					    <div class="text">Description: nothing </div>
						   <div class="btn-group">
						    <button class="btn btn-apply-item"> Apply </button><button class="btn btn-show-item"> Show </button>
						  </div>
					  </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 item-jobs">
					<div class="info-item-jobs">
						<img src="https://gofix.s3.amazonaws.com/development/tiles/images/2_%20partition/original/carpenter-carpentry-close-up-1094770.jpg?1534414499" alt="" class="image-photo-jobs">
					  <div class="overlay">
					    <div class="text">Title:new jobs</div>
					    <div class="text">Salary:1000-2000$</div>
					    <div class="text">Description: nothing </div>
						   <div class="btn-group">
						    <button class="btn btn-apply-item"> Apply </button><button class="btn btn-show-item"> Show </button>
						  </div>
					  </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 item-jobs">
					<div class="info-item-jobs">
						<img src="https://gofix.s3.amazonaws.com/development/tiles/images/2_%20partition/original/carpenter-carpentry-close-up-1094770.jpg?1534414499" alt="" class="image-photo-jobs">
					  <div class="overlay">
					    <div class="text">Title:new jobs</div>
					    <div class="text">Salary:1000-2000$</div>
					    <div class="text">Description: nothing </div>
						   <div class="btn-group">
						    <button class="btn btn-apply-item"> Apply </button><button class="btn btn-show-item"> Show </button>
						  </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>