<div class= "container-fluid mt-4">
	<div class="home-page">
		<div class="col-12">
			<%= form_tag(root_path, method: :get) do %>
        <%= select_tag :city_list, options_for_select(City.city_lists.keys.map {|role| [role.titleize,role]}, selected: params[:city_list]), {class: "form-control select2", onchange: "this.form.submit()", prompt: "city list"} %>
      <% end %>
      <div class="mt-2">
      	<div class="row">
					<% @cities.each do |f| %>
						<div class ="item-category col-2">
							<%=link_to f.name, city_path(f)%>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>