<div class=" form-devise col-md-8 col-lg-7 col-xl-6">
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name)) do |f| %>
    <div class="text-center">
      <p class="font-size-30 mb-0">Forgot password?</p>
      <p class="color-rgba-black-78 font-size-18">Enter your email address below and we'll get you back on track.</p>
    </div>
    <%= render 'layouts/messages' %>
    <br>
    <div class="form-group">
      <label class="color-rgba-black-78" >Email address</label>
      <%= f.input :email,autofocus: true, autocomplete: "email",label:false, input_html: {class: 'form-control'}, id:'email-address'%>
    </div>
    <div class="form-acction text-center">
      <%= f.submit 'Request reset link',class: "btn-devise"%>
    </div>
  <% end %>
</div>
