<div class="w3-sidebar w3-bar-block w3-black w3-xxlarge" style="width:70px">
  <%= link_to admins_jobs_path, class: "w3-bar-item w3-button" do %><i class="fa fa-home"></i><% end %>
  <%= link_to admins_users_path, class: "w3-bar-item w3-button" do %><i class="fa fa-user-tie"></i><% end %>
  <%= link_to admins_categories_path, class: "w3-bar-item w3-button" do %><i class="fa fa-tags"></i><% end %>
  <%= link_to destroy_user_session_path, method: :delete , class: "w3-bar-item w3-button" do %>
  	<i class="fa fa-sign-out-alt"></i>
  <% end %>
</div>
<div style="width:70px"></div>